@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    17 Venter Ave<br />
    Bainsvlei <br />
    Bloemfontein<br />
    9301<br />
    <abbr title="Phone">P:</abbr>
    072 048 0990
</address>

<address>
    <a href="mailto:abrahamvdl@gmail.com">Abrahamavdl@gmail.com</a><br />
</address>
